.DS_Store
.externalToolBuilders
.sonar4clipse
*.sonar4clipseExternals
.checkstyle
.classpath
.gradle/
.pmd
.project
.settings/
.metadata/
.springBeans
.apt_generated
.factorypath
/.checkstyle
rebel.xml
bin/
btm1.tlog
btm2.tlog
build/
buildNumber.properties
classes/
hs*.log
logback.logdirectory_IS_UNDEFINED/target/
logs/
none
performance.logtarget/
target/
test-output/
.idea/*
!.idea/runConfigurations
.idea/runConfigurations/*
*.iml
