[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Rest request/response utilities for spring environments
[access "refs/*"]
	owner = group user/Stefan Ellersdorfer (steell0815)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Stefan Ellersdorfer (steell0815)
	label-Verified = -1..+1 group user/Stefan Ellersdorfer (steell0815)
	push = group user/Stefan Ellersdorfer (steell0815)
	read = group user/Stefan Ellersdorfer (steell0815)
	rebase = group user/Stefan Ellersdorfer (steell0815)
	removeReviewer = group user/Stefan Ellersdorfer (steell0815)
	submit = group user/Stefan Ellersdorfer (steell0815)
[access "refs/heads/*"]
	create = group user/Stefan Ellersdorfer (steell0815)
	push = +force group user/Stefan Ellersdorfer (steell0815)
	pushMerge = group user/Stefan Ellersdorfer (steell0815)
	read = group user/Stefan Ellersdorfer (steell0815)
[access "refs/tags/*"]
	push = group user/Stefan Ellersdorfer (steell0815)
	push = +force group user/Stefan Ellersdorfer (steell0815)
